/* Components */
/* CSS HEX */

:root {
--dark-slate-blue: #3d3b8eff;
--glaucous: #6883baff;
--cultured: #f9f9f9ff;
--china-pink: #e072a4ff;
--granny-smith-apple: #b0e298ff;
}

.header {
    background-color: var(--china-pink);
}

.header__title, .header__list {
    color: var(--dark-slate-blue);
}

.main {
    background-color: var(--glaucous);
}

.footer {
    background-color: var(--granny-smith-apple);
}